<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumLearning">
  <test name="MyFunction" preserve-order="true">
    <classes>
      <class name="edu.relativeLocators.Screenshot.Test01"/>
      <class name="edu.relativeLocators.Screenshot.Test02"/>
      <class name="edu.relativeLocators.Screenshot.Test03"/>
    </classes>
  </test>
   <test name="LearnTestNG" preserve-order="true">
    <classes>
   		 <class name="edu.testng.test1"/>
    	<class name="edu.testng.test2"/>
      	<class name="edu.testng.test3"/>
    </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
